@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Material Icons 및 Outlined 스타일을 @import로 추가 */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');







.ad404__main_background_color {
    background-color: #fafcfd;
    max-width: 1920px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
}

.ad404__main_container {
    background-color: #fcfcfc;
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 60px;
}



.ad404__main_cotainer_box,
.ad404__sub1_cotainer_box,
.ad404__sub2_cotainer_box,
.ad404__sub3_cotainer_box,
.ad404__main_content_textarea,
.ad404__sub1_content_textarea,
.ad404__sub2_content_textarea,
.ad404__sub3_content_textarea {
    display: flex;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    align-items: center;
}

.ad404__main_title,
.ad404__sub1_title,
.ad404__sub2_title,
.ad404__sub3_title,
.ad404__main_content,
.ad404__sub1_content,
.ad404__sub2_content,
.ad404__sub3_content {
    padding: 20px 40px;
    width: 20%;
    text-align: center;
}

.ad404__main_name {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 15px;
}

.ad404__box {
    padding: 15px 0;
    width: 80%;
    display:flex;

}

.ad404__button_box {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 30px;

}

.ad404__textfield{
    width:80%;
}

.ad404__filebutton{
    width:10%;
    margin-left:20px;
    padding: auto;
    display:flex;
    justify-content: center;
    align-items: center; 
}


/* 파일 박스 css */
.ad404__uploadName {
    width: 910px; /* 가로 크기 */
    display: inline-block;
    height: 56px;
    font-size: 16px;
    padding: 0 15px;
    vertical-align: middle;
    border: 1px solid #DDDDDD;
    color: #999999;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
 }
 .ad404__filebox label {
    width: 130px;
    height: 56px;
    border-radius: 5px;
    display: inline-block;
    padding: 0px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 56px;
    line-height: 56px;
    margin-left: 16px;
    box-sizing: border-box;
    text-align: center;
    
    font-size: 16px;
 }

.ad404__filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
 }